# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Skóre poslanců
email: info@skoreposlancu.cz
description: > # Skóre poslanců - projekt Liberálního institutu. Identifikujeme klíčová hlasování, důležitá pro oblasti, kterým se věnuje Liberální institut, tj. svoboda jednotlivce, volný trh, vláda s omezenými pravomocemi a mír.
baseurl: "" # the subpath of your site, e.g. /blog
url: "http://www.skoreposlancu.cz" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: jekyllrb
github_username:  jekyll

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed
  - jekyll-paginate
plugins_dir: _plugins
whitelist:
#   - jekyll-feed
  - jekyll_get

jekyll_get:
  - data: hlasovani
    json: 'https://spreadsheets.google.com/feeds/list/1_OPcyOm1ZHO6CKSD3eMLB0bIufJ3Dz_8atunCTnsGCQ/3/public/values?alt=json'
    cache: true
  - data: ranking
    json: 'https://spreadsheets.google.com/feeds/list/1_OPcyOm1ZHO6CKSD3eMLB0bIufJ3Dz_8atunCTnsGCQ/5/public/values?alt=json'
    cache: true
  - data: poslanci
    json: 'https://spreadsheets.google.com/feeds/list/1_OPcyOm1ZHO6CKSD3eMLB0bIufJ3Dz_8atunCTnsGCQ/4/public/values?alt=json'
    cache: true
  - data: ranking_nejlepsi
    json: 'https://spreadsheets.google.com/feeds/list/1_OPcyOm1ZHO6CKSD3eMLB0bIufJ3Dz_8atunCTnsGCQ/6/public/values?alt=json'
    cache: true
  - data: ranking_nejhorsi
    json: 'https://spreadsheets.google.com/feeds/list/1_OPcyOm1ZHO6CKSD3eMLB0bIufJ3Dz_8atunCTnsGCQ/7/public/values?alt=json'
    cache: true

poslanci_json_path: /poslanci.json

page_gen:
  - data: poslanci
    template: poslanec
    name: jmeno
    dir: poslanci
    extension: html
  - data: hlasovani
    template: hlasovani
    name: slug
    dir: hlasovani
    extension: html
page_gen-dirs: true

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
exclude:
  - Gemfile
  - Gemfile.lock
  - deploy.sh
  - README
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
# --- General options --- #

# url is the full website URL
# baseurl is the website's URL without the hostname

# If you are building a simple GitHub user page (http://username.github.io) then use these settings:
# url: "http://username.github.io"
# baseurl: ""

# If you are building a GitHub project page then use these settings:
#url: "http://username.github.io/projectname"
#baseurl: "/projectname"

# Of course don't forget to change the username and projectname to YOUR username and project

# Name of website
# title: My website

# Short description of your site
# description: A virtual proof that name is awesome!

# --- Navigation bar options --- #

# List of links in the navigation bar
navbar-links:
  TOP10: ""
  Celkové pořadí: "celkove-poradi"
  Hlasování: "hlasovani"
  O projektu: "o-projektu"

#  Resources:
#    - GitHub Pages: "https://pages.github.com/"

# Image to show in the navigation bar - image must be a square (width = height)
# Remove this parameter if you don't want an image in the navbar
avatar: "/img/libinst.jpg"

# If you want to have an image logo in the top-left corner instead of the title text,
# then specify the following parameter
# title-img: /path/to/image

# --- Background colour/image options --- #

# By default, the navigation bar and footer have a light gray background, and the main page
# has a white background. You can specify a different background colour or a background image
# for the navigation bar, the main page, and the footer.
# navbar-col: "orange"
# navbar-img: "/img/bgimage.png"
# footer-col: "blue"
# footer-img: "/img/bgimage.png"
# page-col: "#FF0000"
# page-img: "/img/bgimage.png"

# --- Footer options --- #

# Change all these values or delete the ones you don't want.
# Important: you must keep the "name" parameter, everything else you can remove
author:
  name: Liberalni institut
  email: "info@libinst.cz"
  facebook: liberalni.institut
  github: yourname    # eg. daattali
  twitter: libinstcz   # eg. daattali
  reddit: yourname    # eg. daattali
  google-plus: +yourname   # eg. +DeanAttali or 109424658772469020925
  linkedin: yourname  # eg. daattali
  xing: yourname      # eg. daattali
  stackoverflow: yourlink  # eg. "3943160/daattali"
  snapchat: yourname  # eg. daattali
  instagram: yourname # eg. daattali
  youtube: yourlink   # eg. user/daattali or channel/daattali
  spotify: yourname   # eg. daattali
  telephone: yourphone   # eg. +14159998888
  steam: yourname     # eg. daattali
  twitch: yourname    # eg. daattali
  yelp: yourname      # eg. daattali

# Select which links to show in the footer
footer-links-active:
  rss: false
  facebook: true
  email: true
  twitter: true
  google-plus: false
  github: false
  reddit: false
  linkedin: false
  xing: false
  stackoverflow: false
  snapchat: false
  instagram: false
  youtube: false
  spotify: false
  telephone: false
  steam: false
  twitch: false
  yelp: false

# Select which share links to show in posts
share-links-active:
  twitter: true
  facebook: true
  google: false
  linkedin: false

# How to display the link to the website in the footer
# Remove this if you don't want a link in the footer
url-pretty: "skoreposlancu.cz"  # eg. "deanattali.com/beautiful-jekyll"

# --- Misc --- #
# Fill in your Disqus shortname (NOT the userid) if you want to support Disqus comments
#disqus: ""

# Fill in your Google Analytics ID to track your website using GA
google_analytics: "UA-106799201-2"

# Google Tag Manager ID
#gtm: ""

# Facebook App ID
# fb_app_id: ""

# Excerpt Word Length
# Truncates the excerpt to the specified number of words on the index page
excerpt_length: 50

# Character used to separate site title and description in HTML document title
# and RSS feed title
title-separator: "-"

# --- Don't need to touch anything below here (but you can if you want) --- #

# Output options (more information on Jekyll's site)
timezone: "Europe/Prague"
markdown: kramdown
highlighter: rouge
# permalink: /:year-:month-:day-:title/
permalink: /:title
paginate: 5

kramdown:
  input: GFM

# Default YAML values (more information on Jekyll's site)
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      comments: true  # add comments to all blog posts
      social-share: true # add social media sharing buttons to all blog posts
  -
    scope:
      path: "" # all files
    values:
      layout: "page"
      show-avatar: true
      social-share: true

# Use tags pages (not recommended if you are deploying via GitHub pages, only set to true if deploying locally with ruby)
link-tags: false

# Exclude these files from production site
exclude:
  - CHANGELOG.md
  - Dockerfile
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - Vagrantfile
  - deploy.sh
