---
layout: default
---

<h1>{{page.nazev}}</h1>
{% if page.pspurl %}
<a href="{{page.pspurl}}">{{page.schuze}}</a>
{% else %}
{{ page.schuze }}
{% endif %}
<h2>Pozice LI: {{page.poziceli}}</h2>
<blockquote>
<p>{{ page.vysvetleni }}</p>
</blockquote>

<h2>Jak hlasovali?</h2>
<table class="table">
  <thead>
    <tr>
      <th>Poslanec</th>
      <th>Strana</th>
      <th>Hlasoval</th>
    </tr>
  </thead>
  <tbody>
  {% for poslanec in site.data.poslanci %}
    <tr><td><a class="page-link" href="{{ poslanec.jmeno | datapage_url: '/poslanci' }}">{{ poslanec.jmeno }}</a></td><td>{{ poslanec.strana }}</td><td>{{ poslanec[page.slug] }}</td></tr>
  {% endfor %}
  </tbody>
</table>

{% if page.social-share %}
  {% include social-share.html %}
{% endif %}
