---
layout: default
---
<div class="row">
  <div class="col-md-4">
    {% assign id = page.linkurl | replace_first: '&o=7&l=cz', '' | replace_first: 'http://www.psp.cz/sqw/detail.sqw?id=', '' %}
    <img src="http://www.psp.cz/eknih/cdrom/2013ps/eknih/2013ps/poslanci/i{{ id }}.jpg" class="img-thumbnail">
  </div>
  <div class="col-md-8">
    <h1>{{page.jmeno}}</h1>
    <h2>{{page.strana}}</h2>
    <a href="{{ page.linkurl }}">Na webu PSP</a>
    {% assign resource = site.data.ranking | where: "jmeno", page.jmeno | first %}
    <h2>RANKING: {{resource.rank}}</h2>
  </div>
</div>

{% if page.pohlavi=="F"%}
<h2>Jak hlasovala?</h2>
{% else %}
<h2>Jak hlasoval?</h2>
{% endif %}
<table class="table">
  <thead>
    <tr>
      <th>Zákon</th>
      <th>Hlasoval</th>
      <th>Pozice LI</th>
    </tr>
  </thead>
  <tbody>
  {% for hlasovani in site.data.hlasovani %}
    <tr><td><a class="page-link" href="/li/hlasovani/{{ hlasovani.slug }}">{{ hlasovani.nazev }}</a></td><td>{{ page[hlasovani.slug] }}</td><td>{{ hlasovani.poziceli }}</td></tr>
  {% endfor %}
  </tbody>
</table>

{% if page.social-share %}
  {% include social-share.html %}
{% endif %}
