---
layout: default
---

<h1>{{page.jmeno}}</h1>

<table class="table">
  <tbody>
    <tr><th>Hlasování 0</th><td>{{ page.hlasovani0 }}</td></tr>
    <tr><th>Hlasování 1</th><td>{{ page.hlasovani1 }}</td></tr>
    <tr><th>Hlasování 2</th><td>{{ page.hlasovani2 }}</td></tr>
    <tr><th>Hlasování 3</th><td>{{ page.hlasovani3 }}</td></tr>
    <tr><th>Hlasování 4</th><td>{{ page.hlasovani4 }}</td></tr>
    <tr><th>Hlasování 5</th><td>{{ page.hlasovani5 }}</td></tr>
    <tr><th>Hlasování 6</th><td>{{ page.hlasovani6 }}</td></tr>
    <tr><th>Hlasování 7</th><td>{{ page.hlasovani7 }}</td></tr>
    <tr><th>Hlasování 8</th><td>{{ page.hlasovani8 }}</td></tr>
    <tr><th>Hlasování 9</th><td>{{ page.hlasovani9 }}</td></tr>
    <tr><th>Hlasování 10</th><td>{{ page.hlasovani10 }}</td></tr>
    <tr><th>Hlasování 11</th><td>{{ page.hlasovani11 }}</td></tr>
    <tr><th>Hlasování 12</th><td>{{ page.hlasovani12 }}</td></tr>
    <tr><th>Hlasování 13</th><td>{{ page.hlasovani13 }}</td></tr>
    <tr><th>Hlasování 14</th><td>{{ page.hlasovani14 }}</td></tr>
    <tr><th>Hlasování 15</th><td>{{ page.hlasovani15 }}</td></tr>
    <tr><th>Hlasování 16</th><td>{{ page.hlasovani16 }}</td></tr>
    <tr><th>Hlasování 17</th><td>{{ page.hlasovani17 }}</td></tr>
    <tr><th>Hlasování 18</th><td>{{ page.hlasovani18 }}</td></tr>
    <tr><th>Hlasování 19</th><td>{{ page.hlasovani19 }}</td></tr>
  </tbody>
</table>
